@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: EuclidLight;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #000;
    background: white
  }
}

@font-face {
  font-family: EuclidLight;
  src: url('./fonts/euclid\ circular\ A/Euclid Circular A Light.ttf');
  format: 'ttf'
}
@font-face {
  font-family: EuclidRegular;
  src: url('./fonts/euclid\ circular\ A/Euclid Circular A Regular.ttf');
  format: 'ttf'
}

@font-face {
  font-family: EuclidMedium;
  src: url('./fonts/euclid\ circular\ A/Euclid Circular A Medium.ttf');
  format: 'ttf'
}

@font-face {
  font-family: EuclidBold;
  src: url('./fonts/euclid\ circular\ A/Euclid Circular A Bold.ttf');
  format: 'ttf'
}
